/* Hide download button in the PDF */
@media print {
  .download-pdf-btn {
    display: none !important;
  }
  .no-print {
    display: none !important;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* Set A4 landscape page size with no margins */
@page {
  size: A4 landscape; /* Cambiar a A4 */
  margin: 0; /* Ajusta los márgenes si es necesario */
}

.container {
  width: 100%;
  max-width: 270mm; /* A4 width en landscape */
  min-height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.page {
  page-break-before: always;
  width: 100%;
  height: 190mm; /* A4 height en landscape */
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
  
/*page-break-inside: avoid; /* Evita cortes de página dentro del contenido */

/* Background image for each page */
.page:nth-of-type(1),
.page:nth-of-type(2),
.page:nth-of-type(3) {
  background: url(../images/fondo\ 1.jpg) no-repeat center/cover;
}

/* Header styles */
header h1 {
  color: #003777;
  margin-top: 270px;
}

header h2 {
  color: #3e77b6;
}

/* Central title */
.titulo-central {
  text-align: center;
  color: #003777;
  margin-bottom: 20px;
  margin-top: 180px;
}

/* Paragraphs styling */
.parrafos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  text-align: center;
  max-width: 80%;
}

.parrafos div {
  flex: 1;
}

.parrafos hr {
  width: 50%;
  margin: auto;
}

/* Central text */
.texto-central {
  color: #00599d;
}

/* Additional info section */
.informacion-adicional {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.informacion-adicional div {
  flex: 1;
}

.informacion-adicional hr {
  width: 40%;
  margin: auto;
  margin-bottom: 0.5cm;
}

/* Footer */
.footer-logo img {
  width: 150px;
}

/* Download button (only visible on screen) */
.download-pdf-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003777;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Table styles */
.tabla-tickets {
  width: 100%;
  max-width: 80%; /* Limitar el ancho de la tabla para que las imágenes tengan más espacio */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 20px;
}

.tabla-tickets th,
.tabla-tickets td {
  border: 1px solid #004987;
  padding: 8px;
  text-align: center;
}

.tabla-tickets thead {
  background-color: #004987;
}

.contenedor-graficos {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Asegúrate de que el contenedor use todo el ancho disponible */
  height: 100%; /* Asegúrate de que también ocupe toda la altura */
}

.grafico {
  text-align: center;
  width: 100%; /* Ocupa todo el espacio disponible */
  height: auto;
}

.grafico img {
  width: 600px; /* Asegura que la imagen ocupe todo el contenedor */
  height: auto; /* Mantiene la proporción */
}
